/* DOCUMENT */
html {
    font-size: 62.5%;
}
body {
    margin: 0px;
    padding: 0px;
    font-size: 1.4rem;
    background-color: #fff;
}

/* SIDEBAR */
nav {
    height: 100%;
    float: left;
    width: 64px;
    background-color: #333;
    font-family: "Lato", "freight-sans-pro","Myriad Pro","Myriad",sans-serif;
    font-weight: 300;
    font-size: 13px;
    position: fixed;
}
nav ul li {
    margin-bottom: 16px;
}
nav ul li.active {
    background: transparent url("../images/dock/active.png") no-repeat right 8px;
}
nav ul li#dock-home.active {
    background-position: right 24px;
}
nav ul li a {
    display: block;
    color: #fafafa;
    text-decoration: none;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 4px;
    text-align: center;
    text-transform: lowercase;
}
nav ul li a:hover {
    color: #bcd9ff;
}
nav ul li .icon {
    background-repeat: no-repeat;
    background-position: 50% 0px;
    height: 32px;
    margin-bottom: 4px;
}
nav ul li#dock-home img {
    width: 48px;
    height: 48px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
nav ul li a span {
}
#dock-posts .icon { background-image: url("../images/dock/posts-32.png"); }
#dock-projects .icon { background-image: url("../images/dock/projects-32.png"); }
#dock-about .icon { background-image: url("../images/dock/about-32.png"); }
#dock-search .icon { background-image: url("../images/dock/search-32.png"); }
#dock-github .icon { background-image: url("../images/dock/github-32.png"); }
#dock-twitter .icon { background-image: url("../images/dock/twitter-32.png"); }
#topper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #222;
}
#topper a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 6px 0;
    border-top: 1px solid #444;
    background-color: #333;
}
#topper a:hover {
    background-color: #444;
}

/* POPUPS */
.popup {
    display: none;
    position: fixed;
    left: 80px;
    background-color: #333;;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -1.6rem;
    padding: 1rem;
}
.popup input,
.popup textarea {
    font-size: 1.6rem;
}
#popup-search {
    top: 264px;
    height: 35px;
}
#popup-search #search {
    width: 23rem;
}

/* HOMEPAGE */
#post-listing section {
    margin-bottom: 2rem;
}
#post-listing section h3 {
    margin-bottom: 0rem !important;
}
#post-listing section time {
    font-size: 1.6rem;
    color: #8b9aa0;
    display: block;
}

/* SEARCH */
#search-results section h5 {
    margin-bottom: 0rem !important;
}
#search-results section header time {
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
    color: #8b9aa0;
    display: block;
}
#search-results section {
    margin-bottom: 1rem;
}

/* ALL POSTS */
.posts-listing .category .toggle {
    display: none;
}
.posts-listing .category h4 {
    cursor: pointer;
    color: #006fff;
}

/* PROJECTS */
#projects .project {
    float: left;
    width: 24rem;
    margin: 0 1rem 2rem 0;
}
#projects .project img {
    margin-bottom: 0;
}
#projects .project span {
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
#projects .project br {
    /* Oh stupid Wordpress... */
    display: none;
}

/* COMMENTS */
textarea#comment {
    width: 100%;
    height: 20rem;
    font-size: 1.6rem;
}
#commentform input#submit {
    font-size: 1.6rem;
}
ol.commentlist ul.children {
    list-style-type: none !important;
}
ol.commentlist header img {
    float: left;
}
ol.commentlist header .comment-info {
    float: left;
}
ol.commentlist header .comment-info cite {
    font-weight: 700;
}
ol.commentlist header .comment-info cite,
ol.commentlist header .comment-info time {
    display: block;
    font-size: 1.8rem;
    padding-left: 1rem;
}
ol.commentlist ul.children {
    margin-top: 1rem !important;
}
ol.commentlist li.comment {
    margin-bottom: 1rem;
}

/* CONTENT */
section#main {
    /*max-width: 100rem;*/
    min-width: 20rem;
    margin: 0 1.6rem 0 8.0rem;
    padding: 1.6rem 0 0 0;
    color: #000;
    font-family: "Lato", "freight-sans-pro","Myriad Pro","Myriad",sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.8rem;
}
section#main > header > h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
section#main > header {
    margin: 0 0 1.6rem 0;
}
section#main > header > time {
    font-size: 1.6rem;
    color: #8b9aa0;
    display: block;
}
section#main > footer {
    border-top: 0.1rem solid #ddd;
    padding-top: 1rem;
}
#featured-image {
    text-align: center;
}

/* FREE CONTENT */
section#main p,
section#main ul,
section#main ol,
section#main pre,
section#main h2,
section#main h3,
section#main h4,
section#main h5,
section#main h6,
section#main .wp-caption,
section#main footer,
section#main blockquote {
    margin: 0 0 1.6rem 0;
}
section#main ul {
    list-style-type: circle;
}
section#main ul li ul {
    margin-bottom: 0;
}
section#main ul li {
    margin-left: 3rem;
}
section#main p {
}
section#main img {
    max-width: 100%;
    margin: 0 0 1.6rem 0;
}
section#main blockquote {
    color: #666;
    border-left: 0.5rem solid #999;
    padding-left: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
section#main a {
    color: #006fff;
}
section#main strong,
section#main b {
    font-weight: 700;
}
section#main em,
section#main i {
    font-style: italic;
}
section#main pre {
    font-family: Menlo, monospace;
    font-size: 1.5rem;
    background-color: #eee;
    padding: 1rem 1.8rem;
    overflow: auto;
}
section#main pre code {
    padding: 0;
}
section#main h2,
section#main h3,
section#main h4 {
    font-weight: 700;
}
section#main h2 {
    font-size: 2.6rem;
    border-bottom: 0.1rem dotted #999;
}
section#main h3 {
    font-size: 2.6rem;
}
section#main h4 {
    font-size: 2.4rem;
}
section#main h5 {
    font-size: 2.2rem;
}
section#main h6 {
    font-size: 2.0rem;
}

section#main .aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}
section#main .wp-caption img {
    margin-bottom: 0;
}
section#main .wp-caption p {
    font-size: 1.5rem;
    color: #999;
}
.wp-caption.aligncenter,
.wp-caption.alignleft {
	display: inline-block;
}
.small,
small {
    font-size: 0.85em;
}
